.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #99D3B4;
}

body {
  background: #101010;
}

.profile-menu {
  width: 2.5em;
 }
/* carrusel 1 */

.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%;
}

.onebyone-carosel .active.left {
  left: -25.00%;
}

.onebyone-carosel .active.right {
  left: 25.00%;
}

.onebyone-carosel .next {
  left: 25.00%;
}

.onebyone-carosel .prev {
  left: -25.00%;
}
/* sección de series mas maratoneadas */
.container {
  color: #99D3B4;
}
/* ranking mejores maratoneros */
.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
}

.label.label-default.rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}
