.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #99D3B4;
}

body {
  background: #101010;
}

.profile-menu {
  width: 2.5em;
 }
/* carrusel 1 */

.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%;
}

.onebyone-carosel .active.left {
  left: -25.00%;
}

.onebyone-carosel .active.right {
  left: 25.00%;
}

.onebyone-carosel .next {
  left: 25.00%;
}

.onebyone-carosel .prev {
  left: -25.00%;
}
/* sección de series mas maratoneadas */
.container {
  color: #99D3B4;
}
