/* nav bar */

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #99D3B4;
}

body {
  background-color: #101010;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.profile-menu {
  width: 2.5em;
}

/* buscador */

#custom-search-form {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  margin-left: 13px;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  border-radius: 50px;
  border: 1px solid #99D3B4;
  background-color: #101010;
}

#custom-search-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus+button {
  z-index: 3;
}

.search-query:focus {
  width: 260px;
}

.imgSeries {
  border: 5px solid;
  border-radius: 20px;
}

/* carrusel 1 */

.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%;
}

.onebyone-carosel .active.left {
  left: -25.00%;
}

.onebyone-carosel .active.right {
  left: 25.00%;
}

.onebyone-carosel .next {
  left: 25.00%;
}

.onebyone-carosel .prev {
  left: -25.00%;
}

/* sección de series mas maratoneadas */

.container {
  color: #99D3B4;
}

/* ranking mejores maratoneros */

.ranking {
  color: white;
}

.profile-header-container {
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 54px;
}

.profile-header-img>a>img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
}

.profile-header-img>img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
}


.profile-header {
  margin-top: 43px;
}

/**
 * Ranking component
 */

.rank-label-container {
  margin-top: -19px;
  /* z-index: 1000; */
  text-align: center;
}

.label.label-default.rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}

/*Fin Ranking*/

/*Footer*/

#myFooter {
  margin-top: 10%;
  background-color: #222222;
  color: white;
  padding-top: 30px;
}

#myFooter .footer-copyright {
  background-color: #222222 padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .navbar-brand {
  margin-top: 45px;
  height: 65px;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  margin-top: 30px;
}

#myFooter h2 a {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

#myFooter .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

#myFooter .btn {
  background-color: #7EAF97;
  border-radius: 20px;
  border: none;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }
}

.content {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
/*Fin Footer*/

/*versión mobile*/
@media screen and (max-width: 767px){
    .navbar .navbar-collapse .navbar-right > li:last-child {
      /* padding-left: 15px; */
      padding-right: 15px;
    }
    .navbar .nav-collapse {
      margin: 7.5px auto;
      padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
      margin: 0;
    }

    .nav-collapse>li {
      float: none;
    }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
      transform: translate(-100%,0px);
    }

    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
      transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
      transform: translate(0px,-100%);
    }

    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
      transform: translate(0px,0px);
    }
    .texto{
      margin: 10px 30px;
      text-align: center;
    }
    .hacheuno {
      font-size: 25px;
    }
    .hachetres {
      font-size: 15px;
    }
    .profile-header-img {
      padding: 20px 0;
    }
    .ranking h2{
      font-size: 29px;
    }
    #myFooter {
    text-align: center;
  }
}
